apiVersion: apps/v1
kind: Deployment
metadata:
  name: guestbook-ui-1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: guestbook-ui-1
  template:
    metadata:
      labels:
        app: guestbook-ui-1
    spec:
      containers:
      - image: gcr.io/heptio-images/ks-guestbook-demo:0.2
        name: guestbook-ui-1
        ports:
        - containerPort: 80
        env:
          - name: DESSERT
            valueFrom:
              configMapKeyRef:
                name: chart1
                key: dessert

